<h1>New article</h1>
<%= form_for :article, url: articles_path do |f| %>
  <p>
    <%= f.label :title %>
    <div><%= f.text_field :title %></div>
  </p>
  <p>
    <%= f.label :text %>
    <div><%= f.text_area :text %></div>
  </p>
    <p>
    <%= f.submit "Save post" %>
  </p>
<% end %>