<h1>New article</h1>
<%= form_for :article, url: articles_path do |f| %>
    <%= f.label :title %>
  <p>
    <%= f.text_field :title %>
  </p>
    <%= f.label :text %>
  <p>
    <%= f.text_area :text %>
  </p>
    <p>
    <%= f.submit %>
  </p>
<% end %>