<p id="notice"><%= notice %></p>
<div class="form-group">
    <strong>Label:</strong>
    <%= @article.title %>
</div>
<div class="form-group">
    <strong>Text:</strong>
    <%= @article.text %>
</div>

  

<div>
  <%= form_for([@article, @article.comments.build]) do |f| %>
  <div class="form-group">
    <%if current_user %>
      <%= f.hidden_field :author, :value => current_user.username %>
    <% end %>
  </div>
  <div class="form-group">
  <%= f.label "Enter comment" %><br/>
    <%= f.text_area :body, :class => "form-control", :rows => "3" %>
  </div>
  <div class="form-group">
    <%= f.submit "Send comment", :class => "btn btn-primary" %>
  </div>
  <% end %>
</div>
<%= link_to 'Edit article', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>

<%if @article.comments.any? %>
  <div>
    <% @article.comments.each do |comment| %>
    <% if comment.created_at %>
        <hr />
          <p><b>Author: <%= comment.author %></b></p>
          <p><%= comment.body %></p>
        <% end %>
    <% end %>
  </div>
<% end %>

