<h1>New contact</h1>
<%= form_for :contact, url: contacts_path do |f| %>
  <%= f.label :email %>
  <p>
    <%= f.email_field :email %>
  </p>
    <%= f.label :message %>
  <p>
    <%= f.text_area :message %>
  </p>
    <p>
    <%= f.submit 'Send message'%>
  </p>
<% end %>